version: "3.8"

services:
  app:
    # O "." indica que a imagem do Dcoker será contruida no Diretório atual
    build: . 
    command: /bin/sh -c "npm install && npm start"
    # Mapeia a porta 5000 do container para porta 5000 da maquina
    ports:
      - "5000:5000"
    # Monta a maquina host no diretorio /usr/app dentro do container
    volumes:
      - .:/usr/app
    # Indica que o serviço app depende do serviço db
    depends_on:
      - db

  db:
    image: mysql:8.0
    # Configura o container para reiniciar automaticamente caso ele pare
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: vio_miguel
    # Mapeia a porta 3306 do container para porta 3306 da maquina
    ports:
      - "3307:3307"
    volumes:
      - db_data:/var/lib/mysql
      - ./mysql-init:/docker-entrypoint-initdb.d

volumes:
  db_data: